body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: white;
  overflow: scroll;
}

canvas{
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	display: block;
	background-color: black;
}

.blink {
  opacity: 0;
  animation: blinking 1s linear infinite;
}

@keyframes blinking {
  from,
  49.9999% {
    opacity: 0;
  }
  50%,
  to {
    opacity: 1;
  }
}